
body {
  margin: 0;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
  
  #init {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
    margin-top: 15%;
    flex-direction: column;
    z-index: -100;
  }
}
